.navbar-form input, .form-inline input {
  width:auto;
}

.container-fix {
  width:960px;
}

.container-markdown-fix {
  width:1200px;
}

/*background-color: #e2e2e2;*/
body {
  padding-top:50px;
  background: url(../../images/body_bg.png);
  background-repeat:repeat;
}

textarea {
  width:100%;
}

footer {
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#ffffff;
}

#masthead {
  min-height:199px;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  min-height:127px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

a,a:hover {
  color:#223344;
 /* text-decoration:none;*/
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  /*border-color: transparent;*/
  border-radius:5px;
}



.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:40px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

/*图片大小控制*/
.jumbotron{
  margin-bottom: 10px;
  margin-top: 10px;
  height: 220px;
  background: url(../../images/headpic.jpg);
  background-repeat:repeat;
}

/*header css样式*/
.navbar {
	background-color:#0177d7;
	color:#ffffff;
}

.navbar-default .navbar-brand {
	color:#ffffff;
}

.navbar-default .navbar-nav>li>a {
	color:#ffffff;
}

#nav-fix a:hover{
	color:#e6e6e6;
}

/*button样式*/
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

#footer p{
	font-size: 12px;
}

.footer-h4{
	color:#b5b5b5;
}

#round {
	border: 1px solid #dedede;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius:8px; 
}
