<?xml version="1.0" encoding="UTF-8" ?>   
<beans xmlns="http://www.springframework.org/schema/beans"  
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
     xmlns:mvc="http://www.springframework.org/schema/mvc"
     xmlns:context="http://www.springframework.org/schema/context"  
     xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">   
  
  <!-- 组件扫描handler -->
  <context:component-scan base-package="com.houmingjian"></context:component-scan>	
  
  <!-- 使用mvc:annotation-driven代替上面注解适配和映射器 -->
  <mvc:annotation-driven></mvc:annotation-driven>
  
  <!-- 视图解析器 -->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  	<property name="prefix" value="/WEB-INF/paper/" />
  	<property name="suffix" value=".jsp" />
  </bean>
  
  <!-- 配置全局异常处理,类需要实现接口 -->
  <bean class="com.houmingjian.blog.exception.CustomExceptionResolver"></bean>
  
  <!-- 文件上传 -->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
  	<!-- 设置上传文件的大小最多大小50mb -->
  	<property name="maxUploadSize">
  		<value>5242880</value>
  	</property>
  </bean>
  
  <!-- 静态资源解析 -->
  <mvc:resources location="/city_data/" mapping="/city_data/**" />
  <mvc:resources location="/js/" mapping="/js/**" />
  <mvc:resources location="/css/" mapping="/css/**" />
  <mvc:resources location="/images/" mapping="/images/**" />
  <mvc:resources location="/fonts/" mapping="/fonts/**" />
</beans>